@charset "UTF-8";
/*
    @package Wonder Blog Theme

*/
/*

    Import
    -------------------------
*/
/*
    @package Wonder Blog Theme

*/
/*

    Variables
    -------------------------
*/
/*
    @package Wonder Blog Theme

*/
/*
Mixins
--------------------
*/
/*
    @package Wonder Blog Theme

*/
/*
Placeholder
--------------------
*/
.header-container, .wonder-format-image .entry-header {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.entry-excerpt.image-caption {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */
}

/*
    @package Wonder Blog Theme

*/
/*

    Font Icons
-----------------------------------
*/
/*
    @package Wonder Blog Theme

*/
/*

    Variables
    -------------------------
*/
@font-face {
  font-family: "wonder-icon";
  src: url("fonts/wonder-icon.ttf?g1q9cu") format("truetype"), url("fonts/wonder-icon.woff?g1q9cu") format("woff"), url("fonts/wonder-icon.svg?g1q9cu#wonder-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.wonder-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "wonder-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wonder-audio:before {
  content: "";
}

.wonder-chevron-left:before {
  content: "";
}

.wonder-chevron-right:before {
  content: "";
}

.wonder-close:before {
  content: "";
}

.wonder-comment:before {
  content: "";
  color: #929292;
}

.wonder-link:before {
  content: "";
  color: #929292;
}

.wonder-loading:before {
  content: "";
  color: #ccc;
}

.wonder-menu:before {
  content: "";
}

.wonder-pencil:before {
  content: "";
}

.wonder-pics:before {
  content: "";
  color: #929292;
}

.wonder-search1:before {
  content: "";
  color: #bcbcbc;
}

.wonder-share:before {
  content: "";
  color: #929292;
}

.wonder-tag:before {
  content: "";
  color: #929292;
}

.wonder-video:before {
  content: "";
  color: #929292;
}

.wonder-price-tag:before {
  content: "";
}

.wonder-search:before {
  content: "";
}

.wonder-share2:before {
  content: "";
}

.wonder-mail4:before {
  content: "";
}

.wonder-facebook2:before {
  content: "";
}

.wonder-instagram:before {
  content: "";
}

.wonder-whatsapp:before {
  content: "";
}

.wonder-spotify:before {
  content: "";
}

.wonder-twitter:before {
  content: "";
}

/*
    Generic
---------------------------------------------
*/
body {
  font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
  color: black;
  -webkit-transition: color 320ms ease;
  transition: color 320ms ease;
}

a:hover, a:focus {
  text-decoration: none;
  color: #474747;
}

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 
	Header 
	------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: 326px;
}

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px;
}

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em;
}

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-wonder {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-wonder ul {
  float: none;
}

.navbar-wonder li {
  float: none;
  display: inline-block;
}

.navbar-wonder li.active a {
  opacity: 1;
}

.navbar-wonder li.active a:after {
  -webkit-transition: translateY(0);
  -moz-transition: translateY(0);
  -ms-transition: translateY(0);
  -o-transition: translateY(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navbar-wonder li.open a {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-wonder li.open a:after {
  -webkit-transition: translateY(10px);
  -moz-transition: translateY(10px);
  -ms-transition: translateY(10px);
  -o-transition: translateY(10px);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0 !important;
}

.navbar-wonder li.open a:hover, .navbar-wonder li.open a:focus, .navbar-wonder li.open a:visited {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-wonder li.open a:hover:after, .navbar-wonder li.open a:focus:after, .navbar-wonder li.open a:visited:after {
  -webkit-transition: translateY(10px);
  -moz-transition: translateY(10px);
  -ms-transition: translateY(10px);
  -o-transition: translateY(10px);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0 !important;
}

.navbar-wonder li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  opacity: 0.7;
  letter-spacing: 0.05em;
  background: none;
  -webkit-transition: opacity 320ms ease;
  transition: opacity 320ms ease;
}

.navbar-wonder li a:hover, .navbar-wonder li a:focus, .navbar-wonder li a:visited {
  background: none;
  opacity: 1;
}

.navbar-wonder li a:hover:after, .navbar-wonder li a:focus:after, .navbar-wonder li a:visited:after {
  -webkit-transition: translateY(0);
  -moz-transition: translateY(0);
  -ms-transition: translateY(0);
  -o-transition: translateY(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navbar-wonder li a:after {
  content: '';
  position: absolute;
  display: block;
  left: 15px;
  right: 15px;
  bottom: 14px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  opacity: 0;
  -webkit-transition: translateY(10px);
  -moz-transition: translateY(10px);
  -ms-transition: translateY(10px);
  -o-transition: translateY(10px);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navbar-wonder li ul.dropdown-menu {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.75);
}

.navbar-wonder li ul.dropdown-menu li {
  display: block;
}

.navbar-wonder li ul.dropdown-menu li a:hover, .navbar-wonder li ul.dropdown-menu li a:focus, .navbar-wonder li ul.dropdown-menu li a:visited {
  background: rgba(0, 0, 0, 0.25) !important;
  color: #fff;
}

/* 
	Standard Post Format
	------------------------------------------------
*/
article {
  margin-bottom: 60px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h1.entry-title {
  line-height: 1.5em;
  margin: 40px 0 0;
  padding: 0;
}

h1.entry-title:before, h1.entry-title:after {
  content: '~';
  display: inline-block;
  position: relative;
}

h1.entry-title:before {
  margin-right: 10px;
}

h1.entry-title:after {
  margin-left: 10px;
}

.entry-meta {
  font-size: 13px;
  font-weight: 300;
  color: #898989;
  margin-bottom: 20px;
}

.entry-meta a {
  font-weight: 500;
  color: #898989;
}

.entry-meta a:hover, .entry-meta a:focus {
  color: #333333;
}

.standard-featured-link {
  display: block;
  position: relative;
}

.standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
  background-color: rgba(0, 0, 0, 0);
}

.standard-featured {
  height: 400px;
  display: block;
  position: relative;
}

.standard-featured:after {
  -webkit-transition: background-color 320ms ease;
  transition: background-color 320ms ease;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
}

.entry-excerpt {
  margin: 30px 0 16px;
}

.entry-excerpt p {
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.button-container {
  margin-bottom: 30px;
}

.btn-wonder {
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #898989;
  background-color: transparent;
}

.btn-wonder:hover, .btn-wonder:focus {
  color: #fff;
  border-color: #333333;
  background-color: #474747;
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
}

.entry-footer {
  padding: 10px 5px;
  border-bottom: 2px solid #898989;
  text-transform: uppercase;
}

.entry-footer a {
  color: #898989;
  display: inline-block;
  font-size: 12px;
}

.entry-footer a:hover, .entry-footer a:focus {
  color: #333333;
}

.entry-footer .tags-list .premium-icon {
  margin-right: 10px;
}

.entry-footer .tags-list a {
  margin-left: 10px;
  padding: 0 5px;
}

.entry-footer .comments-link {
  margin-left: 10px;
}

/*h1 { font-size: 48px; font-weight: 200;
	a { color: $primary-color; }
	&.entry-title { line-height: 1.5em; margin: 40px 0 0; padding: 0; 
		&:before, &:after { content: '~'; display: inline-block; position: relative; }
		&:before { margin-right: 10px; }
		&:after { margin-left: 10px; }
	}
}
.entry-meta { font-size: 13px; font-weight: 300; color: $light-grey; margin-bottom: 20px;
	a { font-weight: 500; color: $light-grey;
		&:hover,
		&:focus { color: $dark-grey; }
	}
}

.standard-featured-link { display: block; position: relative; 
	&:hover,
	&:focus {
		.standard-featured {
			&:after { background-color: rgba(0,0,0,0); }
		}
	}
}
.standard-featured { height: 330px; display: block; position: relative;
	&:after { @include animate( background-color, 320ms ); content: ''; position: absolute; display: block; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,0.15); box-shadow: inset 0 0 15px rgba(0,0,0,0.35); }
}

.entry-excerpt { margin: 30px 0 16px;
	p { font-size: 17px; line-height: 1.5em; font-weight: 300; letter-spacing: 0.02em; }
}

.button-container { margin-bottom: 30px; }
.btn-sunset { @include animate( all, 320ms ); text-transform: uppercase; font-size: 14px; font-weight: 300; color: $light-grey; padding: 8px 12px; border-radius: 0; border: 1px solid $light-grey; background-color: transparent;
	&:hover,
	&:focus { color: #ffffff; border-color: $dark-grey; background-color: $dark-grey; }
}

.entry-footer { padding: 10px 5px; border-bottom: 4px solid $lighter-grey; color: $light-grey; text-transform: uppercase;
	a { color: $light-grey; display: inline-block; font-size: 12px; 
		&:hover,
		&:focus { color: $dark-grey; }
	}
	.tags-list {
		.sunset-icon { margin-right: 10px; }
		a { padding: 0 4px; }
	}
	.comments-link {
		.sunset-icon { margin-left: 10px; }
	}
}*/
/* 
	Image Post Format
	------------------------------------------------
*/
.wonder-format-image {
  margin-top: 50px;
}

.wonder-format-image .entry-header {
  height: 480px;
  position: relative;
}

.wonder-format-image h1, .wonder-format-image .entry-meta, .wonder-format-image .entry-header {
  color: #fff;
}

.wonder-format-image h1 a, .wonder-format-image .entry-meta a, .wonder-format-image .entry-header a {
  color: #fff;
}

.wonder-format-image h1 {
  padding-top: 15px;
}

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
}

.entry-excerpt.image-caption p {
  margin: 40px 0;
}
/*# sourceMappingURL=wonder.css.map */