/*
    @package Wonder Blog Theme

*/
/*

    Variables
    -------------------------
*/

$body-font: 'Poppins', 'Helvetica Neue', Arial, Helvetica, sans-serif;

$icomoon-font-family: "wonder-icon" !default;
$icomoon-font-path: "fonts" !default;

$wonder-audio: "\e900";
$wonder-chevron-left: "\e901";
$wonder-chevron-right: "\e902";
$wonder-close: "\e903";
$wonder-comment: "\e904";
$wonder-link: "\e905";
$wonder-loading: "\e906";
$wonder-menu: "\e908";
$wonder-pencil: "\e909";
$wonder-pics: "\e90a";
$wonder-search1: "\e907";
$wonder-share: "\e90c";
$wonder-tag: "\e90d";
$wonder-video: "\e90b";
$wonder-price-tag: "\e935";
$wonder-search: "\e986";
$wonder-share2: "\ea82";
$wonder-mail4: "\ea86";
$wonder-facebook2: "\ea91";
$wonder-instagram: "\ea92";
$wonder-whatsapp: "\ea93";
$wonder-spotify: "\ea94";
$wonder-twitter: "\ea96";



$light-grey: #898989;
$dark-grey: #333333;
$title-grey: #474747;
$primary-color: black;